{{#if this.siteSettings.private_replies_enabled}}
  <section>
    <h3>{{i18n "private_replies.title"}}</h3>
  </section>
  <section class="field category_private_replies_default_enabled">
    <label>
      <Input
        @type="checkbox"
        @checked={{this.args.outletArgs.category.custom_fields.private_replies_default_enabled}}
      />
      {{i18n "private_replies.category_default_enabled"}}
    </label>
    <span>{{i18n "private_replies.category_default_subtext"}}</span>
  </section>
{{/if}}